<!-- Taller 1
Mendoza Parraga Andres Gonzalo
Ejercicio de bucle con javascript
 -->
 <head>
     <title>Taller 1</title>
 </head>

 <body>
    <script type="text/javascript">
        var valor1 = parseInt(prompt("Introduzca el primer valor: "));
        var valor2 = parseInt(prompt("Introduzca el segundo valor: "));
        var result = 0;
        for(var cont = 0; cont<5; cont++){
            if(cont == 0){
                alert("Interaccion "+ cont +" Suma");
                result=(valor1+valor2);
                alert("resulado: "+ result);
            }
            if(cont == 1){
                alert("Interaccion "+ cont + " Resta");
                result = valor1 - valor2;
                alert("resulado: "+ result);
            }
            if(cont == 2){
                alert("Interaccion "+ cont + " Multiplicacion");
                result = valor1 * valor2;
                alert("resulado: "+ result);
            }
            if(cont == 3){
                alert("Interaccion "+ cont + " Division");
                result = valor1 / valor2;
                alert("resulado: "+ result);
            }
            if(cont == 4){
                alert("Interaccion "+ cont + " Mod");
                result = valor1 % valor2;
                alert("resulado: "+ result);
            }
        }
    </script>
 </body>
